body {
    text-align: center;
    margin: 1em;
}

nav {
    display: inline-block;
    text-align: left;
    width: 10vw;
    padding: 1em;
}

nav > div > img {
    position: relative;
    width: 100%;
}

h1, h2 {
    font-family: Arial;
}

p {
    font-family: Arial;
    font-size: 20px;
}

a {
    display: block;
    font-family: Arial;
    font-weight: 900;
    transition: ease-in 0.3s;
}

a:hover {
    cursor: pointer;
    color: red;
}

#pages {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 80vw;
}

#background-header {
    background-image: url("img/header-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    border-radius: 20px;
}

#header {
    display: inline-block;
    width: 500px;
}

#header > h1 {
    margin: 0;
    margin-top: 20px;
}

#header > hr {
    background-color: red;
    border-color: black;
    border-width: thin;
    width: 350px;
    height: 5px;
}

#home {
    text-align: center;
}

#mission {
    position: relative;
    text-align: left;
    display: inline-block;
    width: 65%;
}

#contact {
    background-color: grey;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
}

#originality {
    text-align: center;
}

#originality > div {
    position: relative;
    text-align: left;
    display: inline-block;
    width: 65%;
}

#goals {
    position: relative;
    text-align: center;
    width: 100%;
}

#goals > ul {
    position: relative;
    text-align: left;
    display: inline-block;
    width: auto;
}

#resume {
    position: relative;
    text-align: center;
    width: 100%;
}

#resume > img {
    position: relative;
    width: 70%;
    border: solid;
    border-width: medium;
    border-color: grey;
}

#references {
    position: relative;
    text-align: center;
    width: 100%;
}

#references > div {
    background-color: grey;
    display: inline-block;
    width: 400px;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
}
